<ul class="col-xs-6 col-md-6 col-lg-6 list-group" >
    <li class="list-group-item list-group-item-success">
        <h4>
            <a href="users">Github API - users</a>
        </h4>
        Consuming a restfull service with jQuery
    </li>
    <li class="list-group-item list-group-item-warning">
        <h4>
            <a href="blog">Firebase - blog</a>
        </h4>
        OO database use
    </li>
</ul>
